{% extends 'base.html' %}
{% block title %}About - HeartSafe{% endblock %}
{% block content %}

<section class="py-5">
  <div class="container">
    <h2>About HeartSafe</h2>
    <p>Welcome to HeartSafe Medical Center, where compassionate healthcare meets modern technology.
Our mission is simple : to provide safe, reliable, and patient-centered medical services to everyone who walks through our doors.

<p>At HeartSafe, we believe that every patient deserves personalized attention. That’s why our medical team works tirelessly to ensure you receive accurate diagnoses, timely treatments, and continuous care.<p>

<p>Whether you’re coming in for a routine check-up, a medical emergency, or specialized care, we are committed to serving you with professionalism, dignity, and respect.</p>
  </div>
</section>

{% endblock %}
