{% extends 'base.html' %}
{% load static %}
{% block title %}Home - HeartSafe{% endblock %}
{% block content %}

<!-- Hero Section -->
<section class="hero text-center text-white" style="background-image: url('{% static 'images/hero-bg.jpg' %}'); height: 500px; background-size: cover; display:flex; align-items:center; justify-content:center;">
  <div>
    <h1>Welcome to HeartSafe</h1>
    <p>Your trusted stroke care center</p>
    <a href="{% url 'add_patient' %}" class="btn btn-primary">Add patient</a>
    <a href="{% url 'add_service' %}" class="btn btn-primary">Add Service</a>
    <a href="{% url 'add_symptom' %}" class="btn btn-primary">Add Symptom</a>
    <a href="{% url 'payment' %}" class="btn btn-primary">Make Payment</a>
  
    
    
  </div>
</section>

<!-- Quick Info -->
<section class="py-5">
  <div class="container">
    <h2 class="mb-4">Why Choose Us?</h2>
    <p>We provide stroke patient care with experienced doctors and efficient services </p>
  </div>
</section>

{% endblock %}

